{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 180,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "all",
  'prettier/prettier': [
    'error',
    {
      'endOfLine': 'auto',
    }
  ]
}
